@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes error__pulse{
    0%{
        color: tomato;
    }
    50%{
        color: rgb(210, 201, 201);
    }
    100%{
        color: tomato;
    }
}

@keyframes patternBox__in{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes patternBox__out{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0);
    }
}

body{
    background-color: #8F4AFF;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.blob1{
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.blob1 li{
    background-image: url(./img/blobs/Ellipse\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    width: 100%;
    list-style: none;

    position: absolute;
    bottom: 0;
}

.blob2{
    width: 25%;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.blob2 li{
    background-image: url(./img/blobs/Ellipse\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    list-style: none;

    position: absolute;
    top: 0;
}

.blob3{
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.blob3 li{
    background-image: url(./img/blobs/Ellipse\ 3.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    list-style: none;

    position: absolute;
    top: 0;
}

.error__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.error404{
    font-size: 120px;
    margin: 0;
    color: white;
}
.error__text{
    font-size: 60px;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.main__wrapper{
    width: 80%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
    position: relative;
}

.login__wrapper, .register__wrapper, .main__wrapper{
    height: 600px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50px;

}
.login__wrapper, .register__wrapper{
    height: unset;
    padding: 15px 50px 40px 50px;
    width: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.login__wrapper form, .register__wrapper form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    position: relative;
}

label{
    display: none;
}



.register__wrapper form span{
    display: flex;
    justify-content: space-between;
}

.form__input{
    width: 100%;
    height: 35px;
    border-radius: 50px;
    outline: none;
    border: 2px solid #F4F4F4;
    background-color: #F4F4F4;
    text-indent: 15px;
    transition: 0.3s;
    caret-color: #8F4AFF;
}

.l__input{
    border-radius: 50px 0 0 50px;
}

.r__input{
    border-radius: 0 50px 50px 0;
}

.short__input{
    width: 47%;
}

.login__wrapper form .form__input:focus, 
.register__wrapper form .form__input:focus{
    border: 2px solid #9A5FFB;
}

.login__wrapper form .form__submit,
 .register__wrapper form .form__submit{
    width: 150px;
    height: 35px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #8F4AFF;
    cursor: pointer;
 }

.login__title, .register__title{
    font-size: 50px;
    color: #8F4AFF;
    font-weight: 600;
}

.form__remindPassword{
    text-decoration: none;
    color: #8F4AFF;
    margin-left: auto;
    font-size: 15px;
    text-align: right;
    margin-bottom: 25px;
}

.form__link{
    text-decoration: none;
    color: #8F4AFF;
    font-weight: 600;
}
.form__text{
    color: rgb(174, 174, 174);
}


.main__content{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
}
.main__link{
    text-decoration: none;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 55px;
    font-weight: 600;
    color:#8F4AFF;
}
.main__text{
    font-size: 25px;
    font-weight: 600;
}

.main__background{
    -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
    background-image: url(./img/main__background.webp);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 100%;
    width: 50%;
    /* transition: 0.3s;
    position: absolute;
    right: 0; */
}

.error__input__text{
    font-weight: 600;
    font-size: 15px;
    color: rgb(255, 55, 20);
    position: absolute;
    bottom: 10px;
    animation: error__pulse 1s linear;
    animation-iteration-count: 2;
}
.error__input{
    border: 2px solid rgb(255, 74, 42);
}

.password__pattern_box{
    position: absolute;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    top:-25px;
    left: -25px;
    transform:scale(0);
    transform-origin: bottom;
}

.patter_box__in{
    animation: patternBox__in 0.3s forwards linear;
}
.patter_box__out{
    animation: patternBox__out 0.3s forwards linear;
}

.patternLength,.patternUppercase,.patternDigit{
    transition: 0.3s;
}

@media screen and (max-width: 862px) {
    .main__background{
        position: absolute;
        top:0;
        width: 100%;
        height: 25%;
        clip-path: unset;
        -webkit-clip-path: unset;

        display: none;
    }
    .main__content{
        width: 100%;
        z-index: 1;
    }
}

@media screen and (max-width: 480px){
    .main__link{
        font-size: 12vw;
    }
    .main__text{
        font-size: 8vw;
    }

    .login__wrapper, .register__wrapper, .main__wrapper{
        width: 85%;
        padding: 15px 30px 40px 30px;
        box-sizing: border-box;
    }
    .login__title, .register__title{
        font-size: 12vw;
    }
    .form__link, .form__text{
        font-size: 3.5vw;
    }
    .login__wrapper form .form__submit,
    .register__wrapper form .form__submit{
        width: 45%;
        min-width: 85px;
        font-size: 3.5vw;
    }
    .form__remindPassword{
        font-size: 4vw;
    }


    .register__wrapper form span{
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .r__input,
    .l__input{
        border-radius: 50px;
        width: 100%;
    }

    .password__pattern_box{
        top:25px;
    }
    
}