@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
}

nav{
    background-color: #8F4AFF;
    width: 25%;
    padding:  20px;
    box-sizing: border-box;

    position: absolute;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;

    transform: translate(0%);
}

main{
    width: 75%;
    margin-left: auto;
    padding: 30px 55px;
    box-sizing: border-box;

    overflow-y: scroll;
    height: 100vh;
}

.nav__closeBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;

    background-color: transparent;
    color: white;
    border: none;
    outline: none;

    cursor: pointer;

    display: none;
}

.nav__openBtn{
    position: fixed;
    z-index: 1;
    background-color: #8F4AFF;
    color: white;
    border: none;
    outline: none;

    cursor: pointer;
    height: 55px;
    width: 55px;
    border-radius: 50px;
    font-size: 35px;

    display: none;
    justify-content: center;
    align-items: center;
}

.openNav{
    transform: translateX(0%);
}


.main__buttons,.profile__buttons,.setting_buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.nav__search{
    position: relative;
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__title{
    font-size: 30px;
    color: white;
    font-weight:bolder;
}



.nav__button{
    color: white;
    text-decoration: none;
    font-size: 20px;
    min-height: 30px;
}
.nav__button .outer__text{
    display: flex;
    gap: 5px;
    align-items: center;
}

.faIcon{
    width: 20px;
}

.search__input{
    width: 100%;
    height: 35px;
    border-radius: 50px;
    border: none;
    text-indent: 15px;
    outline: none;
}

.search__button{
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);

    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logout__pannel{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #9A5FFB;
    
    position: absolute;
    bottom: 0;
    left:0;

    display: flex;
    align-items: center;
    gap: 10px;
}


.profile__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__image{
    max-width: 50px;
    border-radius: 15px;
}


.main__greetings{
    display: flex;
    flex-direction: column;
}

.main__title{
    font-size: 70px;
}

.main__settings{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.sett__box{
    background-color: #D9D9D9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 15px 20px;
    border-radius: 23px;
    position: relative;

    display: flex;
    align-items: center;
}
.sett__col1{
    width: 40%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.sett__col2{
    width: 60%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}
.sett__title{
    margin: 0;
}
.sett__form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sett__form:nth-child(n+2){
    align-items: flex-start;
}
.sett__input{
    height: 35px;
    width: 240px;
    border-radius: 23px;
    text-indent: 15px;
    outline: none;
    border:none;
}
.sett__button{
    width: 100px;
    height: 30px;
    background-color: #8F4AFF;
    color: white;
    outline: none;
    border: none;
    border-radius: 23px;
    cursor: pointer;
}

.profile__img{
    width: 70%;
}
.background__img{
    width: 100%;
}
.textarea__counter{
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.biography__span{
    position: relative;
    width: 100%;
}
.biography__input{
    width: 100%;
    resize: none;
    height: 100px;
    border-radius: 23px;
    border: none;
    outline: none;
    padding: 15px;
    box-sizing: border-box;
}

.main__profile{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main__bckImg{
    background-color: gold;
    position: relative;
    height: 400px;
    overflow: hidden;
    border-radius: 23px;
}

.main__profImg{
    background-color: tomato;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    border-radius: 23px;
    overflow: hidden;
}

.bckImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profImg{
    width: 100%;
    height: 100%;
}

.profImg__changeBtn, .bckImg__changeBtn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.changeBtn{
    color: #232323;
    background-color: white;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.changeBtn:hover{
    opacity: 85%;
}

.main__row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__fullname{
    font-size: 55px;
    font-weight: 600;
    position: relative;
    width: max-content;
}

.redSett__btn{
    text-decoration: none;
    background-color: #D9D9D9;
    padding: 10px 25px;
    border-radius: 20px;
    color: #232323;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.redSett__btn:hover{
    opacity: 85%;
}

.main__row2{
    background-color: #D9D9D9;
    padding: 15px 25px;
    border-radius: 23px;

    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.biography__title{
    font-size: 20px;
    font-weight: 600;
}

.jmpscr{
    width: 100%;
}
.jmpscr2{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.jmpscr3{
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.main__godpanel{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.godpanel__title, .newpost__title{
    font-size: 45px;
    text-align: center;
}

#userList{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    min-height: 80px;
    max-height: 450px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 35px 20px;
    border-radius: 23px;
}
#userList::-webkit-scrollbar {
    width: 0px;
}
.user__box{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 23px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.user__box:nth-child(2n+2){
    background-color: #D9D9D9;
}
.user__box:nth-child(2n+2) .user__img{
    background-color: white;
}
.user__img{
    width: 60px;
    border-radius: 13px;
    background-color: #D9D9D9;
}
.user__rank, .user__fullname{
    font-weight: 600;
}
.user__col{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.user__search__input{
    height: 40px;
    width: 100%;
    text-indent: 15px;
    border-radius: 23px;
    border: none;
    outline: none;
    background-color: rgb(245, 245, 245);
}

.editUser__btn{
    border: none;
    background-color: transparent;
    height: 28px;
    width: 28px;
    font-size: 23px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
.editUser__menu{
    position: absolute;
    bottom: -45px;
    right: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 6px;

    background-color: white;
    transform: scale(0);
    transform-origin: top right;
    transition: 0.3s;

    padding: 10px;
    border-radius: 23px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
.editUser__menu a{
    text-decoration: none;
    color: #232323;
}
.editUser__menu a:hover{
    color:#8F4AFF;
    font-weight: 600;
}

.edit__data, .edit__rank{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: 0.3s;
    z-index: 1;

    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 23px;
    width: 80%;
    height: 80%;

    padding: 15px;
    box-sizing: border-box;
}

.newpost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.newpost__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: #D9D9D9;
    border-radius: 23px;
    padding: 15px;
    width: 85%;
}

.newpost__input{
    height: 35px;
    width: 80%;
    border-radius: 23px;
    outline: none;
    border: none;
}

.title__input{
    text-indent: 15px;
}
.desc__input{
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    height: 105px;
}
.newpost__submit{
    padding: 10px 35px;
    border-radius: 23px;
    background-color: #9A5FFB;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


.home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post{
    border-radius: 23px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f2f2f2;
    width: 580px;
    margin: 0 auto;
}
.post__actionBtn{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.post__author__img{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 0 15px 10px;
    box-sizing: border-box;
}
.post__author__img img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.post__desc {
    padding: 10px 0;
    box-sizing: border-box;
    overflow: hidden;
}
.post__expand-button {
    display: none;
    border: none;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    padding: 0;
}
.description__wrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}


.post__actionBtn{
    position: absolute;
    top: 15px;
    right: 15px;
}

.post__img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
}
.post__img img{
    width: 100%;
    max-width: 600px;
}
.post__info{
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.post__date{
    position: absolute;
    right: 10px;
}
.post__likeBtn, .post__dislikeBtn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}


@media screen and (max-width: 1038px) {

    main{
        padding: 20px 20px;
    }

    .main__profImg{
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main__bckImg{
        overflow: unset;
    }
    .bckImg{
        border-radius: 23px;
    }
    .main__row1{
        flex-direction: column;
    }
}

@media screen and (max-width: 860px){
    nav{
        align-items: center;
        position: fixed;
        z-index: 2;
        width: 50%;

        transform: translateX(-100%);
        transition: 0.3s;
    }

    main{
        width: 100%;
    }

    .nav__closeBtn{
        display: flex;
    }
    .nav__openBtn{
        display: flex;
    }

    .profile__image{
        max-width: 7vw;
    }
    

    .main__fullname{
        font-size: 6vw;
    }

    .main__profImg{
        width: 36vw;
        height: 36vw;

        min-width: 225px;
        min-height: 225px;
        
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 10%);
    }

    .redSett__btn{
        padding: 1vw 3.5vw;
    }

    .sett__box{
        flex-direction: column;
    }
    .sett__col1, .sett__col2{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .sett__input{
        width: 100%;
        max-width: 350px;
    }
}

@media screen and (max-width: 685px){
    .user__col{
        flex-direction: column;
    }
}

@media screen and (max-width: 480px){
    .main__profImg{
        width: 250px;
        height: 250px;
    }
    .main__bckImg{
        min-width: 295px;
    }
    .bckImg__changeBtn{
        top:10px;
    }

    .nav__button{
        font-size: 4vw;
        display: flex;
        align-items: center;
    }

    .user__box{
        flex-direction: column;
        min-width: 240px;
    }

    .user__col{
        gap: 10px;
    }
    
    .user__img{
        width: 95px;
        height: 95px;
    }

    .editUser__btn{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .editUser__menu{
        bottom: unset;
        top:0;
    }
}